@import './helpers/variables';
@import './base/reset';
@import './pages/home';

body {
    font-family: Manrope;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
    font-family: Manrope;
}